iConnect.Web/Service References/MeetingRoomService/MeetingRoomService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iConnect.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iConnect.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMeetingRoomEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeetingRoomEntity" nillable="true" type="tns:MeetingRoomEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetingRoomEntity" nillable="true" type="tns:ArrayOfMeetingRoomEntity" />
  <xs:complexType name="MeetingRoomEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetingRoomEntity" nillable="true" type="tns:MeetingRoomEntity" />
</xs:schema>